.header{
  height: 80vh;
}

.header-background{
  background-image: url('../../../assets/img1-capa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

/* @media(max-width: 790px){
  .header-background{
    background-size: contain;
    background-repeat: no-repeat;
  }
} */