.menu{
  text-transform: uppercase;
}

.menu .menu-mobile{
  display: none;
}

.menu .menu-list-desktop{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menu .link{
  color: #27A148;
}

.menu .link:hover{
  text-decoration: underline;
}

.menu-img{
  max-width: 5rem;
}

@media(max-width: 790px){
  /* MENU MOBILE DEPOIS */
  .menu .menu-list-desktop{
    display: none;
  }
  .menu .menu-mobile{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu-img{
    max-width: 5rem;
    padding: 0 15px;
  }
  .menu-mobile .paragraph{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .menu-btn-mobile{
    padding: 0 15px;
  }
  .bar-mobile{
    background-color: #27A148;
    width: 60px;
    height: 5px;
    margin: 10px 0;
    display: block;
  }
  .menu-list-mobile{
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
    top: 10px;
  }
}

.inativo{
  display: none;
}